@{
    ViewData["Title"] = "Home Page";
    //var alert = "Bu bir Alıştırma Sayfasıdır.";
}

@model ProductListPartialViewModel
@section Css{
    <link href="~/css/example.css" rel="stylesheet" />
    <style>
        h1 
        {
            color:brown;
            background-color:beige;
        }
    </style>
    
}
@section Scripts
{
    <script type="text/javascript">
        //alert("Sayfamıza hoş geldin")
        $(document).ready(function(){
            console.log("Sayfamıza hoş geldiniz");
        }) 
         </script>

}
<h1>Ferit Kaptan Web Page</h1>
<hr />
<h2>Jr.Software Developer</h2>

@*<partial name="_MenuPartialView" />
@await Html.PartialAsync("_MenuPartialView")
@Html.Partial("_MenuPartialView")
*@
<div class="row">
    <div class="col-md-4">
        <partial name="~/PartialViews/_ProductListPartialView.cshtml" model="@ViewBag.ProductListPartialViewModel" />
    </div>
</div>
