
@{
    ViewData["Title"] = "ExampleController Index Sayfasıdır.";
    Layout = "ExampleLayout";
}

@section header
{
    <p>Buraya yazılan tüm kodlar header'in altına eklenecektir..</p>

}

@section footer
{
    <p>Buraya yazılan tüm kodlar footer'in altına eklenecektir..</p>
}

<h1>FeritKaptan - MVC</h1>
<div>Bu sayfa example Controller'in ---> Index Sayfasıdır.</div>

