
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoLayout</title>
</head>
<body>
    Bu Sayfa herhangi bir Layout almamaktadır..

    <partial name="_MenuPartialView" />

</body>
</html>
