@using MyAspNetCoreApp.Web.ViewModels;
@model StudentViewModel
<h1>Öğrenci Kayıt</h1>
<div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>

<form asp-controller="Student" asp-action="Add" method="post">
    <div class="mb-3">
        <label asp-for="FirstName" class="form-label">Adı :</label>
        <input class="form-control" asp-for="FirstName">
        <span class="alert alert-danger" asp-validation-for="FirstName"></span>
    </div>
    <div class="mb-3">
        <label asp-for="LastName" class="form-label">Soyadı :</label>
        <input class="form-control" asp-for="LastName">
        <span class="alert alert-danger" asp-validation-for="LastName"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Image" class="form-label">Resim Linki :</label>
        <input class="form-control" asp-for="Image">
        <span class="alert alert-danger" asp-validation-for="Image"></span>
    </div>
    <div class="mb-3">
        <label asp-for="LinkedIn" class="form-label">LınkedIn Linki :</label>
        <input class="form-control" asp-for="LinkedIn">
        <span class="alert alert-danger" asp-validation-for="LinkedIn"></span>
    </div>
    <div class="mb-3">
        <label asp-for="GitHub" class="form-label">GitHub Linki :</label>
        <input class="form-control" asp-for="GitHub">
    </div>
    <div class="mb-3">
        <label asp-for="Twitter" class="form-label">Twitter Linki :</label>
        <input class="form-control" asp-for="Twitter">
    </div>
    <div class="mb-3">
        <label asp-for="DateOfBirth" class="form-label">Doğum Tarihi :</label>
        <input type="date" class="form-control" asp-for="DateOfBirth">
        <span class="alert alert-danger" asp-validation-for="DateOfBirth"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PlaceOfBirth" class="form-label">Doğum Yeri :</label>
        <input class="form-control" asp-for="PlaceOfBirth">
        <span class="alert alert-danger" asp-validation-for="PlaceOfBirth"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Title" class="form-label">Ünvanı :</label>
        <input class="form-control" asp-for="Title">
    </div>
    <div class="mb-3">
        <label asp-for="Experiences" class="form-label">Deneyimler :</label>
        <input class="form-control" asp-for="Experiences">
    </div>
    <div class="mb-3">
        <label asp-for="Skills" class="form-label">Yetenekler :</label>
        <input class="form-control" asp-for="Skills">
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>

