@model StudentViewModel

<h1>Öğrenci</h1>
<div class="row">
    <div class="col-md-12">
        <vc:student-list id="@ViewBag.studentNo"></vc:student-list> @*@ViewBag.studentNo   bu şekildede kullanabilirdim. yada @Model.Id ikiside olur*@
        
    </div>
</div>
