@*    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - FeritKaptan - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@

<footer class="bg-light text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">

            <!-- Twitter -->
            <a class="btn text-white btn-floating m-1"
               style="background-color: #55acee;"
               href="https://twitter.com/cptmfs" target="_blank"
               role="button">
                <i class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn text-white btn-floating m-1"
               style="background-color: #ac2bac;"
               href="https://www.instagram.com/cptmfs/" target="_blank"
               role="button">
                <i class="fab fa-instagram"></i>
            </a>

            <!-- Linkedin -->
            <a class="btn text-white btn-floating m-1"
               style="background-color: #0082ca;"
               href="https://www.linkedin.com/in/muhammed-ferit-simsek-119550217" target="_blank"
               role="button">
                <i class="fab fa-linkedin-in"></i>               
            </a>
            <!-- Github -->
            <a class="btn text-white btn-floating m-1"
               style="background-color: #333333;"
               href="https://github.com/cptmfs" target="_blank"
               role="button">
                <i class="fab fa-github"></i>
            </a>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 FeritKaptan - <a asp-area="" asp-controller="Products" asp-action="Index">Ürünler</a>
            </div>

</footer>
