<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - www.feritkaptan.com</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="~/css/Example.css" asp-append-version="true" />
    @await RenderSectionAsync("Css", required: false)


</head>
<body>
    <header>
        <div>Header</div>
        @await RenderSectionAsync("header", required: false)

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>Preapared by cptmfs - 2023.</div>
        @await RenderSectionAsync("footer", required: false)

    </footer>
</body>
</html>

