@using static MyAspNetCoreApp.Web.Controllers.OrnekController;

@{
    ViewData["Title"] = "Index2";
}
@model List<Images>;
<h1>Personel Bilgiler</h1>
<p>İsim : Muhammed Ferit</p>


@foreach (var item in Model)
{
    <img src="@Html.DisplayFor(modelItem=>item.ChildPng)" />

}
